.options-tab {
    background-color: #f1f3f578;
    padding: 20px;  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options-tab-link {
    font-size: 16px;
    padding: 10px ;
    color: #333;
    transition: color 0.3s ease;
}

.options-tab-link:hover {
    color: #007bff;
}


.genre-dropdown > .nav-link {
    padding-left: 10px;
}

