 .App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  /* grid-template-columns: fit-content(100%); */
  background-color: rgba(13, 13, 13, 0.928);
}


.dashboard {
  margin-left: 50vw;
  margin-left: 50vw;
}

.options{
  width: 25%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  /* max-width: 25%; */
  /* padding-top: 300px; */
  display: flex;
}

.options.dashboard{
  align-items: center;
}

.hidden{
  display: none;
}