#page{
    color: white;
    text-align: center;
    padding: 20px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}